.card-banner {
    width: 43%;
    height: auto;
}

.img-card-banner {
    width: 100%;
}
.typography-card-banner {
    color: var(--text-primary);
    background-color: var(--main-primary);
    padding: 0.5rem;
}