.colorSelector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--inputs-primary);
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Altura específica */
    padding: 8px; /* Relleno interior para el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Borde redondeado */
    color: var(--text-primary);
}

.color-selector-input {
    width: 90px;
    height: 35px;
    border-radius: 10%;
    border: none;
    outline: none;
    cursor: pointer;
}

.error {
    color: red;
}