.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    background-color: var(--inputs-primary);
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 3rem; /* Altura específica */
    padding: 8px; /* Relleno interior para el input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Borde redondeado */
    color: var(--text-primary);
}
p.switch-text {
    font-size: 125%;
}