/* styles.css */
/* Estilos para el botón previo (izquierda) */
.slick-prev {
    left: -35px; /* Ajusta la posición izquierda según sea necesario */
    z-index: 1; /* Controla el apilamiento de elementos */
    padding: 10px; /* Añade relleno para hacer el botón más grande */
    border-radius: 50%; /* Agrega bordes redondeados */
}

/* Estilos para el botón siguiente (derecha) */
.slick-next {
    right: 10px; /* Ajusta la posición derecha según sea necesario */
    z-index: 1; /* Controla el apilamiento de elementos */
    padding: 10px; /* Añade relleno para hacer el botón más grande */
    border-radius: 50%; /* Agrega bordes redondeados */
}

.slick-slider {
    max-width: 98%; /* Cambia el valor según sea necesario */
}

.custom-slider {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 3rem;
}

.slider-container {
    display: flex;
    justify-content: flex-end; /* Centra horizontalmente */
}