button.theme-button {
    background-color: var(--boton-primary);
    color: var(--text-primary);
    border-color: var(--text-primary);
}

div.tool-bar {
    display: flex;
    justify-content: space-between;
}
.button-container {
    width: auto;
    display: flex;
    gap: 15px;
}