.form-container {
    width: 100%;
    height: auto;
    padding: 2rem;
}

.MuiDialog-paperWidthSm {
    width: 100%; /* Ajusta el ancho máximo del contenedor del formulario según tus necesidades */
}
/* Estilos de campo para seleccionar categoria */
.input-container-category {
    background-color: var(--inputs-primary);
    width: 100%;
    height: 3rem;
    padding: 8px;
    margin-bottom: 16px; /* Espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-primary);
    font-style: italic;
}

.input-container-category p {
    font-size: 125%;
}



